<%- include('includes/head.ejs') %>
</head>
<body class="home page page-template page-template-template-portfolio page-template-template-portfolio-php">
	<%- include('includes/loader.ejs') %>
<div id="page">
	<div class="container">
		<%- include('includes/navigation.ejs') %>
		<!-- #masthead -->
		<div id="content" class="site-content">
			<div id="primary" class="content-area column full">
				<main id="main" class="site-main">
				
				<article class="hentry">
				<header class="entry-header">
				<h1 class="entry-title">About</h1>	
				</header>
				<!-- .entry-header -->

				<div class="entry-content">
				<p><img style="border:10px solid #f4f5f6" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNZa-WoJVYQqC6PWrVXDxQGmBCnzEDZRPEnq4Cf7rYCw&s" alt="bg5" width="430" class="alignright"></p>
				<p>Our vision is to level up information technology adoption and capabilities of small medium enterprises to be on par, if not, exceed that of larger multinational corporations.</p>
				<p>To deliver fitting and useful information technology solutions to assist our clients in achieving their business automation goals.</p>
				<p>The management team of ITvision Hub consists of IT and industry professionals who have been in the industry for more than a decade. With the skills and experience garnered from engaging, delivering and maintaining IT solutions and applications for a wide variety of client, the team at ITvision Hub understands what it takes to design, deliver and manage the right IT solutions to our client’s fullest satisfaction.</p>
				<h2 style="font-family: 'Herr Von Muellerhoff';color:#ccc;font-weight:300;">Yours, Wai Phyo</h2>
				</div><!-- .entry-content -->
				</article>
				
				</main>
				<!-- #main -->
			</div>
			<!-- #primary -->
		</div>
		<!-- #content -->
	</div>
	<!-- .container -->
	<%- include('includes/footer.ejs') %>
<!-- #page -->
<%- include('includes/script.ejs') %>
</body>
</html>