<%- include('includes/head.ejs') %>
</head>
<body class="blog">
	<%- include('includes/loader.ejs') %>
<div id="page">
	<div class="container">
		<%- include('includes/navigation.ejs') %>
		<!-- #masthead -->
		<div id="content" class="site-content">
			<div id="primary" class="content-area column two-thirds">
				<main id="main" class="site-main" role="main">
				<div class="grid bloggrid">
				
					<article>
					<header class="entry-header">
					<h1 class="entry-title"><a href="https://www.myanfobase.com/aboutus" rel="bookmark">MyanfoBase</a></h1>
					<div class="entry-meta">
						<span class="posted-on"><time class="entry-date published">Nov 12, 2022</time></span>						
						<span class="comments-link"><a href="#">Leave a comment</a></span>
					</div>
					<div class="entry-thumbnail">						
						<img src="Photo/myanfobasehomescreen.png" alt="">
					</div>
					</header>
					<div class="entry-summary">
						<p>
							Our website Full name is "Myanmar Information Base". Our website is Information Sharing Website. You can read up to date news and what do you want to know You can search in website. If your register part done you can sharing your experiece and news to our website. <a class="more-link" href="blog-single.html">Read more</a>
						</p>
					</div>
					<footer class="entry-footer">
					<span class="cat-links">
					Posted in <a href="#" rel="category tag">Window</a>, <a href="#" rel="category tag">Mobile</a>, <a href="#" rel="category tag">media</a>
					</span>
					</footer>
					</article>
					
					<article>
					<header class="entry-header">
					<h1 class="entry-title"><a href="#" rel="bookmark">Daily Need Items(DNI)</a></h1>
					<div class="entry-meta">
						<span class="posted-on"><time class="entry-date published">April 11, 2022</time></span>						
						<span class="comments-link"><a href="#">1 Comment</a></span>
					</div>
					<div class="entry-thumbnail">						
						<img src="Photo/dni.png" alt="">
					</div>
					</header>
					<div class="entry-summary">
						<p>
							Our website Full name is "Daily Need items". Our website is Information Sharing Website. You can read up to date news and what do you want to know You can search in website. If your register part done you can sharing your experiece and news to our website. <a class="more-link" href="blog-single.html">Read more</a>
						</p>
					</div>
					<footer class="entry-footer">
					<span class="cat-links">
					Posted in <a href="#" rel="category tag">Window</a>, <a href="#" rel="category tag">Mobile</a>, <a href="#" rel="category tag">media</a>
					</span>
					</footer>
					</article>
					
	
					<article>
					<header class="entry-header">
					<h1 class="entry-title"><a href="#" rel="bookmark">SgInfo</a></h1>
					<div class="entry-meta">
						<span class="posted-on"><time class="entry-date published">April 10, 2022</time></span>						
						<span class="comments-link"><a href="#">Leave a comment</a></span>
					</div>
					<div class="entry-thumbnail">						
						<img src="Photo/Sginfo.png" alt="">
					</div>
					</header>
					<div class="entry-summary">
						<p>
							Our website Full name is "Singapore Information For Burma". Our website is Information Sharing Website. You can read up to date news and what do you want to know You can search in website. If your register part done you can sharing your experiece and news to our website. <a class="more-link" href="blog-single.html">Read more</a>
						</p>
					</div>
					<footer class="entry-footer">
					<span class="cat-links">
					Posted in <a href="#" rel="category tag">Window</a>, <a href="#" rel="category tag">Mobile</a>, <a href="#" rel="category tag">media</a>
					</span>
					</footer>
					</article>
					
					<article>
					<header class="entry-header">
					<h1 class="entry-title"><a href="#" rel="bookmark">Food Box</a></h1>
					<div class="entry-meta">
						<span class="posted-on"><time class="entry-date published">April 9, 2022</time></span>						
						<span class="comments-link"><a href="#">2 Comments</a></span>
					</div>
					<div class="entry-thumbnail">						
						<img src="Photo/foodbox.jfif" alt="">
					</div>
					</header>
					<div class="entry-summary">
						<p>
							Our website Full name is "Food Box for You". Our website is Information Sharing Website. You can read up to date news and what do you want to know You can search in website. If your register part done you can sharing your experiece and news to our website. <a class="more-link" href="blog-single.html">Read more</a>
						</p>
					</div>
					<footer class="entry-footer">
					<span class="cat-links">
					Posted in <a href="#" rel="category tag">Window</a>, <a href="#" rel="category tag">Mobile</a>, <a href="#" rel="category tag">media</a>
					</span>
					</footer>
					</article>	
				
				
					<article>
					<header class="entry-header">
					<h1 class="entry-title"><a href="#" rel="bookmark">ITvision Hub Camp</a></h1>
					<div class="entry-meta">
						<span class="posted-on"><time class="entry-date published">April 6, 2022</time></span>						
						<span class="comments-link"><a href="#">Leave a comment</a></span>
					</div>
					<div class="entry-thumbnail">						
						<img src="Photo/Itvisionhublogo.png" alt="">
					</div>
					</header>
					<div class="entry-summary">
						<p>
							Our website Full name is "ITvision Hub Camp". Our website is Information Sharing Website. You can read up to date news and what do you want to know You can search in website. If your register part done you can sharing your experiece and news to our website.<a class="more-link" href="blog-single.html">Read more</a>
						</p>
					</div>
					<footer class="entry-footer">
					<span class="cat-links">
					Posted in <a href="#" rel="category tag">Window</a>, <a href="#" rel="category tag">Mobile</a>, <a href="#" rel="category tag">media</a>
					</span>
					</footer>
					</article>					
					
				</div>
				<div class="clearfix">
				</div>
				<nav class="pagination"></nav>
				</main>
				<!-- #main -->
			</div>
			<!-- #primary -->
			
			<div id="secondary" class="column third">
				<div id="sidebar-1" class="widget-area" role="complementary">
				
					<aside id="text-5" class="widget widget_text">
					<h4 class="widget-title">About Me</h4>
					<div class="textwidget">
						<p>
							<img src="Photo\viber_image_2023-03-07_14-22-01-030.jpg" class="alignleft" style="width:80px;border-radius:50%;margin-bottom:0;"> My name is Mr. Wai Phyo Hein. I'm a professional Developer for 7 years. It's a long established fact that a user will be distracted by the usable content of a page when looking at its layout, design and features.
						</p>
					</div>
					</aside>
					
					<aside id="recent-posts-2" class="widget widget_recent_entries">
					<h4 class="widget-title">Recent Posts</h4>
					<ul>
						<li>
						<a href="blog-single.html">MyanfoBase</a>
						</li>
						<li>
						<a href="blog-single.html">DNI Store</a>
						</li>
						<li>
						<a href="blog-single.html/">ITvision Hub Camp</a>
						</li>
						<li>
						<a href="blog-single.html">SG Info</a>
						</li>
						<li>
						<a href="blog-single.html">Food Box</a>
						</li>
					</ul>
					</aside>
					
					<aside id="text-6" class="widget widget_text">
					<h4 class="widget-title">Like us on Facebook</h4>
					<div class="textwidget">
						<iframe src="Photo\download.png" width="340" height="250" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true">
						</iframe>
					</div>
					</aside>
					
					<aside id="recent-comments-2" class="widget widget_recent_comments">
					<h4 class="widget-title">Recent Comments</h4>
					<ul id="recentcomments">
						<li class="recentcomments"><span>MyanfoBase</span> on <a href="blog-single.html">Mobile</a></li>
						<li class="recentcomments"><span>MyanfoBase</span> on <a href="blog-single.html">Deployment</a></li>
						<li class="recentcomments"><span><a href="#" rel="external nofollow" class="url">ITvision Hub</a></span> on <a href="blog-single.html">Powerful</a></li>
						<li class="recentcomments"><span>DNI Store</span> on <a href="blog-single.html">UI Improvement</a></li>
						<li class="recentcomments"><span>DNI Store</span> on <a href="blog-single.html">Unstoppable</a></li>
					</ul>
					</aside>
					
					<aside id="text-7" class="widget widget_text">
					<h4 class="widget-title">Follow us</h4>
					<div class="textwidget">
						<!-- Place this tag in your head or just before your close body tag. -->
						<script src="https://apis.google.com/js/platform.js" async="" defer="" gapi_processed="true"></script>
						<!-- Place this tag where you want the widget to render. -->
						<div id="___page_0" style="text-indent: 0px; margin: 0px; padding: 0px; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 300px; height: 377px; background: transparent;">
							<iframe frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position: static; top: 0px; width: 300px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 377px;" tabindex="0" vspace="0" width="100%" id="I0_1460806394603" name="I0_1460806394603" src="Photo\itvisionhublogo.png" data-gapiattached="true" title="+Badge">
							</iframe>
						</div>
					</div>
					</aside>
					
				</div>
				<!-- .widget-area -->
			</div>
			<!-- #secondary -->
		</div>
		<!-- #content -->
	</div>
	<!-- .container -->
	<%- include('includes/footer.ejs') %>
<!-- #page -->
<%- include('includes/script.ejs') %>
</body>
</html>