<%- include('includes/head.ejs') %>
<link rel='stylesheet' href='../css/slideshow.css' type='text/css' media='all'/>
</head>
<body class="home page page-template page-template-template-portfolio page-template-template-portfolio-php">
	<%- include('includes/loader.ejs') %>
<div id="page">
	<div class="container">
		<%- include('includes/navigation.ejs') %>
		<!-- #masthead -->
		<div id="content" class="site-content">
			<div id="primary" class="content-area column two-thirds single-portfolio">
				<main id="main" class="site-main">
				
				<article class="portfolio hentry">
				<header class="entry-header">
				<h1 class="entry-title">Terms and Conditions</h1>
				</header>
				<div class="entry-content">
					<p>
						This is Terms and Conditions.This is Terms and Conditions.
					</p>
					<p>
						This is Terms and Conditions.This is Terms and Conditions.This is Terms and Conditions.This is Terms and Conditions.This is Terms and Conditions.This is Terms and Conditions.This is Terms and Conditions.
					</p>
					<blockquote>
						<p>
							This is Terms and Conditions.This is Terms and Conditions.This is Terms and Conditions.This is Terms and Conditions.This is Terms and Conditions.This is Terms and Conditions.This is Terms and Conditions.This is Terms and Conditions.This is Terms and Conditions.This is Terms and Conditions.
						</p>
					</blockquote>
					<p>
						This is Terms and Conditions.This is Terms and Conditions.This is Terms and Conditions.This is Terms and Conditions.This is Terms and Conditions.This is Terms and Conditions.This is Terms and Conditions.This is Terms and Conditions.This is Terms and Conditions.This is Terms and Conditions.This is Terms and Conditions.
						This is Terms and Conditions.
					</p>
				</div>
				</article>
				
				</main>
				<!-- #main -->
			</div>
			<!-- #primary -->
			
			<div id="secondary" class="column third">
				<div class="widget-area">
					<aside class="widget">
						<div class="slideshow-container">
							<div class="slide">
							  <img src="../Slideshow/ADV_here1.jpg" alt="Slide 1">
							</div>
							<div class="caption"><h2>Aviable Here!</h2></div>
							<div class="slide">
							  <img src="../Slideshow/ADV_here2.jpg" alt="Slide 2">
							</div>
							<div class="slide">
							  <img src="../Slideshow/ADV_here3.jpg" alt="Slide 3">
							</div>
						  </div>
					</aside>
				</div>
			</div>
		</div>
		<!-- #content -->
	</div>
	<!-- .container -->
	<%- include('includes/footer.ejs') %>
<!-- #page -->
<%- include('includes/script.ejs') %>
<script src='js/validate.js'></script>
<script src="../js/endisablebox.js"></script>
<script src="../js/slideshow.js"></script>
</body>
</html>